<nav>
  <% if signed_in? %>
    <%= link_to "my guestbook", current_user.username %>
    &middot; <%= button_to "log out", destroy_user_session_path, method: :delete, class: "button" %>
  <% else %>
    <%= link_to "home", root_path %>
    &middot; <%= link_to "log in", new_user_session_path %>
    &middot; <%= link_to "sign up", new_user_registration_path %>
  <% end %>
</nav>
